In [59]:
import numpy as np 
import pandas as pd

Scraping the website

In [60]:
URL = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = requests.get(URL)
wiki = pd.read_html(URL)

Creating the Pandas dataframe

In [61]:
df = wiki[0]
df2 = df[['Postal Code','Borough', 'Neighbourhood']]
df2.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Removing any "Not assigned" values in Borough

In [62]:
df2 = df2[~df2['Borough'].isin(['Not assigned'])]
df2.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Combining rows where Borough is the same but Neighbourhood is different

In [63]:
temp_df=df2.groupby('Postal Code')['Neighbourhood'].apply(lambda x: "%s" % ', '.join(x))
temp_df=temp_df.reset_index(drop=False)
temp_df.rename(columns={'Neighbourhood':'Neighbourhood_joined'},inplace=True)

Filling rows where Borough value is available but Neighbourhood is not

In [64]:
df_merge = pd.merge(df2, temp_df, on='Postal Code')

In [65]:
df_merge.drop(['Neighbourhood'],axis=1,inplace=True)

In [66]:
df_merge.drop_duplicates(inplace=True)

In [67]:
df_merge.rename(columns={'Neighbourhood_joined':'Neighbourhood'},inplace=True)

In [68]:
df_merge.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [69]:
df_merge.shape

(103, 3)